NODE_ENV=development
PORT=5000
DATABASE_URL=mongodb+srv://server-manager:Xtfaqpos45dgcgs@cluster0.oqjttmo.mongodb.net/aetherzen-server?appName=Cluster0

JWT_ACCESS_SECRET=9a05802a77f2e7e0164306849c9dce3bc0741608b66b55ab14532b557a27fd66
JWT_ACCESS_EXPIRES_IN=15m

JWT_REFRESH_SECRET=6b93e0c5e328e1aad04c2eebe777c6ac7c0f6b0835346326209abaab0ecd7b0e
JWT_REFRESH_EXPIRES_IN=7d

PASSWORD_RESET_EXPIRES_IN=10m